@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    font-family: 'Pixelify Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    background-color: #79C285;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #22471F; /* Optional: Change color if necessary */
}

.menu {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    flex-grow: 1; /* Make the list take up available space */
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center; /* Center the heading text */
}

.main-content {
    margin-left: 240px; /* Space for the sidebar */
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% - 240px); /* Adjust width accordingly */
}

.form-element {
    margin-bottom: 20px;
}

.form-element label {
    display: block;
    margin-bottom: 5px;
}

.form-element input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-element p {
    color: red;
    margin: 5px 0 0;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
